*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('logback.webp') no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(61, 60, 60, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
    margin-top: 20px;
     

}
.input-box1{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 20px 0;
}
.input-box2{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 20px 0;
}
.input-box3{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 20px 0;
}
.input-box4{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 20px 0;
}
.input-box1 label{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}
.input-box2 label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}
.input-box3 label{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}
.input-box4 label{
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}
 
.input-box1 input:focus~label,
.input-box1 input:valid~label{
    top: -5px;

}
.input-box2 input:focus~label,
.input-box2 input:valid~label{
    top: -5px;

}
.input-box3 input:focus~label,
.input-box3 input:valid~label{
    top: -5px;

}
.input-box4 input:focus~label,
.input-box4 input:valid~label{
    top: -5px;

}
.input-box1 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
     

}
.input-box2 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box3 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box4 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box1 .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.input-box2 .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.input-box3 .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.input-box4 .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.checkbox{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    
}
.checkbox label input{
    accent-color: #162938;
    margin-right: 3px;
     
}
 
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.btn:hover{
    cursor: pointer;
    background-color: #598db5;
           
}
.btn a{
    text-decoration: none;
    color: #fff;

}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
   

}
.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;

}
.login-register p a:hover{
    text-decoration: underline;

}
 
 