*{
    margin: 0;
    padding: 0;
}
#navbar {
    display: flex;
    align-items: center;


}
#logo{
     margin: 4px 15px;
}
#logo img {
    height: 57px;
    width: 60px;
    margin: 2px 4px;
    border-radius: 45px;
}
#navbar{
    position: relative;
}
#navbar ul {
    display: flex;
}
#navbar::before{
    content: "";
    background-color: #a89e9e;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#navbar ul li {
     
    list-style: none;
    font-size: 1.3rem;
    margin-left: 60px;
}
#navbar ul li a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
     color: black;
     background-color: white;
}
.video-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.video-container iframe {
    width: 30%; /* Adjust the width as needed */
     margin-bottom: 10px; /* Add some margin between iframes */
}